# Environments
venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
backend/__pycache__/

# Database
buttertext.db

# OS Files
.DS_Store
Thumbs.db

# Vercel
.vercel

# IDEs
.vscode/
.idea/
*.swp
*.swo
